{% extends 'base.html' %}


{% block content %}
<div class="container">
    <!-- Example row of columns -->


    <h2>Un peu d'histoire...</h2>

    <div class="row">
        <div class="col-md-12">
            {% include 'query.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% include 'response.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% include 'form.html' %}
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            {% include 'map.html' %}
        </div>
    </div>


</div> <!-- /container -->
{% endblock %}
