{% extends 'base.html' %}


{% block content %}
<div class="container">

    <div class="row">
        <h2>Un peu d'histoire...</h2>
    </div>

    <div id="query_response_multi">
        {% include 'query.html' %}
        <br>
        {% include 'response.html' %}
        <br>
    </div>
    <br>
    <div class="row">
        {% include 'form.html' %}
    </div>


    <div class="row d-none justify-content-center" id="loader-query">
        <div class="loader"></div>
    </div>
    <br>
    {% include 'map.html' %}


</div> <!-- /container -->

<script src="{{url_for('static', filename = 'js/utils.js')}}"></script>
<script src="{{url_for('static', filename = 'js/valid_form.js')}}"></script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyBUje5gmYclFjlj9V2p10HozyrDE-q4Qfw"></script>
<script>
    let map = null;
</script>
{% endblock %}