
<div class="row">
    <div class="col-md-1 offset-md-1">
        <p><img src="{{url_for('static', filename='img/grandpy.png') }}"></p>
    </div>
    <div class="col-md-10">
        <p>Ne vo kondaonet den ebet en abeg da oberoù pe da nannoberoù ha ne oant ket felladennoù hervez ar gwir broadel
            pe
            etrevroadel d'ar mare ma oant c'hoarvezet. Den kennebeut ne vo barnet d'ur c'hastiz kreñvoc'h eget an hini a
            oa
            hervez al lezenn d'ar mare ma oa bet graet ar felladenn. </p>

        <p>Pep hini en deus gwir e renfe un urzh kevredigezhel hag etrevroadel a c'hellfe bezañ peursevenet enni ar
            gwirioù
            ha
            frankizioù embannet en Disklêriadur-mañ </p>
        <a href="https://fr.wikipedia.org/wiki/Rennes">En savoir plus sur wikipedia...</a>
    </div>
</div>
