<div class="response d-none" id="response-1">
    <div class="row response-grandpy">
        <div class="col-md-1 offset-md-1">
            <p><img src="{{url_for('static', filename='img/grandpy.png') }}" alt="Grand-Py"
                    class="rounded float-left img-fluid"></p>
        </div>
        <div class="col-md-9 response-title-display msg-display msg-response">

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1 offset-md-1">
            <p><img src="{{url_for('static', filename='img/grandpy.png') }}" alt="Grand-Py"
                    class="rounded float-left img-fluid"></p>
        </div>
        <div class="col-md-9 response-text-display msg-display msg-response">

        </div>
    </div>
    <br>
</div>