<h2>Un peu d'histoire...</h2>
<div class="row">
    <div class="col-md-8">
        <p><strong>où se trouve la rue de la soif à Rennes</strong></p>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <p>"logo GP"</p>
    </div>
    <div class="col-md-8">
        <p>Ne vo kondaonet den ebet en abeg da oberoù pe da nannoberoù ha ne oant ket felladennoù hervez ar gwir broadel
            pe
            etrevroadel d'ar mare ma oant c'hoarvezet. Den kennebeut ne vo barnet d'ur c'hastiz kreñvoc'h eget an hini a
            oa
            hervez al lezenn d'ar mare ma oa bet graet ar felladenn. </p>

        <p>Pep hini en deus gwir e renfe un urzh kevredigezhel hag etrevroadel a c'hellfe bezañ peursevenet enni ar
            gwirioù
            ha
            frankizioù embannet en Disklêriadur-mañ </p>
        <a href="https://fr.wikipedia.org/wiki/Rennes">En savoir plus sur wikipedia...</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-8">
        <p><strong>Tu es déjà aller voir la Tour Eiffel ?</strong></p>
    </div>
</div>
<div class="row">

    <div class="col-md-2">
        <p>"logo GP"</p>
    </div>
    <div class="col-md-8">
        <p>Je ne connais pas cet endroit...</p>
    </div>
</div>
<br>