@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.container {
  width: auto;
  max-width: 1120px;
  padding: 0 15px;
}

body {
  background-color: #F1DCC9;
  margin-bottom: 60px;
}

.jumbotron, .footer {

  background: transparent !important;
  background-color: #42313a !important;
  color: #f1dcc9;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  line-height: 40px;
}

.text-muted {
  color: #f1dcc9 !important;
}

.btn-primary, .btn-primary:visited {
  background-color: #6d2c2d !important;
  border-color: #6d2c2d !important;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #42313a !important;
  border-color: #42313a !important;
}

.jumbotron hr {
  background-color: #f1dcc9
}

/* .visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
} */