.bd-placeholder-img 
{
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) 
{
  .bd-placeholder-img-lg 
  {
    font-size: 3.5rem;
  }
}

body 
{
  background-color: #F1DCC9;
}

.jumbotron
{
  background:transparent !important;
  background-color: #42313a !important;
  color: #f1dcc9;
}

.btn-primary, 
.btn-primary:visited
{
  background-color: #6d2c2d !important;
  border-color: #6d2c2d !important;
}

.btn-primary:hover, 
.btn-primary:active
{
  background-color: #5e2425 !important;
  border-color: #5e2425 !important;
}

.jumbotron hr
{
  background-color: #f1dcc9
}
